<div #pdfAlbaranEntregaJazztel>
<div mat-dialog-title class="div-cabecera-modal fondo-cabecera">

 <i class="fa-duotone fa-circle-xmark fa-xl" aria-hidden="true" ></i> <!--(click)="this.dialog.close()" -->
</div>
<div mat-dialog-content>
  <div  style="width: 19cm; height: 23cm; padding: 20px; font-family:Verdana; font-size:9px;" *ngIf="data[0]">
      <div style="width: 100%; margin-top: 20px; font-size: 9px">
          <table style="width: 100%;" width="100%">
              <!-- <img id="logo" height="60" style="padding-top:5px" src="./assets/images/logo/logo_40.png" /> -->
              <tr>
                  <td style="width: 33%;" width="33%">
                      <img id="logo" height="90" width="90" style="padding-top: 15px; padding-left: 10px" src="../assets/icp.png" />
                  </td>
                  <td style="width: 33%;" width="33%">
                      <h2 class="titulo" style="padding-top: 42px; padding-left: 18px;">
                          Albarán de Entrega
                      </h2>
                  </td>
                  <td style="width: 33%; text-align: end;" width="33%">
                      <img id="jazztel" height="70" width="136" style="padding-top: 15px" src="../assets/jazztel.png" />
                  </td>
              </tr>
          </table>
          <hr style="border: 1px solid black" />
          <br />
          <table style="width: 100%">
              <tr>
                  <td width="50%" style="padding-left: 10px ;">
                      Dirección de Entrega:
                  </td>
                  <td width="50%" style="padding-left: 10px ;">
                      Datos del Pedido:
                  </td>
              </tr>
              <tr>
                  <td width="50%" style="padding-left: 20px ;">
                      {{data[0].nombreCliente}}
                  </td>
                  <td width="50%" style="padding-left: 20px ;">
                      Nº Pedido:{{data[0].numeroPeticion}}
                  </td>
              </tr>
              <tr>
                  <td width="50%" style="padding-left: 20px ;">
                      {{data[0].nif}}
                  </td>
                  <td width="50%" style="padding-left: 20px ;">
                      Nº Bultos: {{data[0].bultos}}
                  </td>
              </tr>
              <tr>
                  <td width="50%" style="padding-left: 20px ;">
                      {{data[0].direccion}}
                  </td>
                  <td width="50%" style="padding-left: 20px ;">
                      Peso (Kg): {{data[0].peso}}
                  </td>
              </tr>
              <tr>
                  <td width="50%" style="padding-left: 20px ;">
                      {{data[0].codigoPostal}} - {{data[0].poblacion}}
                  </td>
                  <td width="50%" style="padding-left: 20px ;">
                      {{data[0].textoFechaEntrega}} {{data[0].fechaPrevistaEntrega}}
                  </td>
              </tr>
              <tr>
                  <td width="50%" style="padding-left: 20px ;">
                      {{data[0].provincia}}
                  </td>
                  <td></td>
              </tr>
          </table>
          <br />
          <table style="width: 100%">
              <tr>
                  <td style="font-weight: 500">Cód. Ref.</td>
                  <td style="font-weight: 500; max-width: 250px">Referencia</td>
                  <!-- @If Model.Datos(0).GRUPO = "SIM" Then -->
                  <td style="font-weight: 500; max-width: 250px" *ngIf="data[0].grupo == 'SIM'">Teléfono</td>
                  <!-- End If -->
                  <td style="font-weight: 500">Números de Serie</td>
                  <td style="font-weight: 500; text-align: right">Cantidad</td>
              </tr>
              <tr>
                  <td colspan="5" style="border-bottom: 1px solid black"></td>
              </tr>
              <!-- @For Each item In Model.Datos -->
              <tr *ngFor="let item of data; let i = index">
                  <!-- <span *ngIf=true>{{i }}</span> -->
                  <td>{{data[0].referencia}}</td>
                  <td style="max-width: 250px">{{item.descripcion}}</td>
                  <td style="max-width: 250px" *ngIf="item.grupo == 'SIM'">
                      {{item.telefonoAprovisionamiento}}
                  </td>
                  <td>{{data[0].nserie}}</td>
                  <td style="text-align: right" id="referencia">{{item.cantidad}}</td>
                  <!-- <div *ngIf="i==30" class="separador" id="separador"></div>
                  <div *ngIf="i%30==0&&i!=30&&i!=0" class="separadorGrande" id="separadorGrande"></div> -->
                  <div  id="separadorAltura" class="separadorAltura"></div>
                </tr>
          </table>
          <table style="width: 100%; margin-top: 200px">
              <tr>
                  <td>{{data[0].textoGarantia}}</td>
              </tr>
          </table>
      </div>

  </div>
</div>
</div>
  <button class="btn btm-sm btn-space-1 botonAlbaran"  (click)="cositas()">Descargar Albaran</button>



